colors {
    color: #E6A4B4; /*headings*/
    color: #fefdf9; /*background*/
    color: #697565; /*text*/
    color: #C1CFA1; /*hover*/
    color: #85586F; /*nav, logos, hover*/
}

/* aayusin ko pa palette */
/* ginawa ko css para makita color hshsh*/
